<section data-ng-controller="GroupsController">
    <div class="page-header">
        <h1>New Group</h1>
    </div>
    <div class="col-md-12">
        <form name="groupForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': groupForm.name.$dirty && groupForm.name.$invalid }">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="desc">Description</label>
                    <div class="controls">
                        <textarea name="desc" data-ng-model="desc" id="desc" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="price">Price</label>
                    <div class="controls">
                        <input name="price" data-ng-model="price" id="price" placeholder="Price" />
                        per
                        <input name="unit" data-ng-model="unit" id="unit" placeholder="Unit" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="targetQty">The Group Will Close At</label>
                    <div class="controls">
                        <input name="targetQty" data-ng-model="targetQty" id="targetQty" class="form-control" placeholder="Target Quantity" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="minQty">The Minimum Quantity to Buy</label>
                    <div class="controls">
                        <input name="minQty" data-ng-model="minQty" id="minQty" class="form-control" placeholder="Minimum Quantity" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="address">Pick Up Address</label>
                    <div class="controls">
                        <input name="address" data-ng-model="address" id="address" class="form-control" placeholder="Pick up address" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="expiration">Expiration Time</label>
                    <div class="controls">
                        <input name="expiration" data-ng-model="expiration" id="expiration" class="form-control" placeholder="Expiration Time" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
