<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<h1 class="page-header" data-ng-bind="group.name"></h1>
	<div class="row">
		<div class="col-sm-8">
			<p><b>Price:</b> <span style="color:red">{{group.price | currency}} / {{group.unit}}</span></p>
			<p><b>Pick Up Address:</b> {{group.address}}</p>
			<p><b>Minimum Purchase Quantity:</b> {{group.minQty}}</p>
		</div>
		<div class="col-sm-4">
			<input data-ng-model="orderQty" type="number" min="1" class="form-control" placeholder="Enter Quantity" required/>
			<button type="button" class="btn btn-success" ng-click="showBuyDialog()">Buy</button>
		</div>
	</div>
	<p>The group will close when the total order quantity reaches <b>{{group.targetQty}}</b>.</p>
	<p>Expiration Time: {{group.expiration}}</p>
	<p id="view-group-desc" data-ng-bind="group.desc"></p>

	<table class="table table-hover table-striped">
		<tr><th>User</th><th>Quantity</th><th>Amount</th><!--th>Payment</th--></tr>

		<tr ng-repeat="order in group.orders">
			<td>{{order.userDisplayName}}</td>
			<td>{{order.qty}}</td>
			<td>{{order.qty * group.price | currency}}</td>
			<!--td>
				{{order.paymentStatus}}
				<a data-ng-show="isMyOrder(order) && order.paymentStatus == 'Not Paid'" type="button" class="btn btn-success"
				   href data-ng-click="markPaid(order)">Mark As Paid</a>

			</td-->
		</tr>
		<tr class="info">
			<td><b>Total</b></td>
			<td><b>{{getTotalOrderQty()}}</b></td>
			<td><b>{{getTotalOrderQty() * group.price | currency}}</b></td>
		</tr>
	</table>
	<div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="group.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="group.user.displayName"></span>
		</em>
	</small>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/groups/{{group._id}}/edit"
		   data-ng-show="((authentication.user) && (authentication.user._id == group.user._id))">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();"
		   data-ng-show="((authentication.user) && (authentication.user._id == group.user._id))">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
